<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, inital-scale=1.0 maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cart</title>

    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
   

    
  <header>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-sm-4 col-lg-4 auto mx-xs-auto">

                <img src="/public/images/bullock-logo.jpg" alt="logo" class="logo">
            </div>
            <div class="col-12 col-sm-6 col-lg-8">
                <h1 class="lg-heading">Bullock<small>  Leather Works</small></h1>
                <h3 class="motto">Exquisitely Unique</h3>
            </div>
        </div>
        
    </div>
    <hr>

    <div class="container-fluid m-0 p-0">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavBar">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <a href="" class="navbar-brand ml-3"><span>Bullock</span></a>

                        <div class="collapse navbar-collapse"></div>
                        <div class="collapse navbar-collapse ml-lg-5" id="mainNavBar">
                            <ul class="navbar-nav ml-5">
                                <li class="nav-item">
                                    <a href="/" class="nav-link">Home</a>
                                </li>
                                <li class="nav-item active">
                                        <a href="/service" class="nav-link">Services</a>
                                </li>
                                <li class="nav-item">
                                        <a href="/gallery" class="nav-link">Shop</a>
                                </li>
                                <li class="nav-item">
                                        <a href="" class="nav-link"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart
                                        <span class="badge"><%= session.cart.totalQty %></span></a>
                                </li>
                                <li class="nav-item">
                                        <a href="/contact" class="nav-link">Contact US</a>
                                </li> 
                            </ul>             
                        </div>
        
                      <ul class="navbar-nav dropdown ml-lg-5 ml-3">
                          <a href="" class="nav-link dropdown-toggle mr-5" id="navbarDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fas fa-user"></i>
                          </a>
        
                          <div class="dropdown-menu" aria-labelledby="navbarDropDown">
                            <a href="/users/login" class="dropdown-item">Sign-In</a>
                            <a href="/users/signup" class="dropdown-item">Sign-Up</a>
                          </div>
                      </ul>
                        
        
                </nav>
    </div>

    <hr>
</header>

            
    <main>
      <div class="container mt-5">

          <h1 class="text-center">Your Cart</h1>


          <% if(products) { %>
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                       
            <% for(var item in products) { %>
              <div class="panel-body text-center">
                  <div class="row">
                  <div class="col-lg-3 col-12">
                      <img src="/<%= products[item].imagePath %>" alt="" class="cart-image">
                    </div>
      
                    <div class="col-lg-3 col-12">
                      <h5 class="text-center">Product Title: <%= products[item].title%></h5>
                    </div>
      
                    <div class="col-lg-3 col-12">
                      <p>Size: <%= products[item].size%></p>
                    </div>
      
                    <div class="col-lg-3 col-12">
                      <h5>N: <%= products[item].price %></h5>
                    </div>
                </div>

              </div>
              <div class="panel-footer text-center mb-5">
                  <a class="btn btn-warning btn-sm my-3" role="button" href="#">Remove</a>
                </div>
                  <% } %>
                            
            </div>
          </div>
          </div>

          <div class="grand-total text-center">
              <strong>Total: <%= totalPrice %> </strong>

              <a href="/checkout" class="btn btn-dark">CheckOut</a>
               </div>
          </div>
          

         <% } %>
     
    </main>

    <footer class="footer">
      <div class="bottom-block">
        <p class="copyright">Copyright &copy; 2018</p>
        <ul class="footer-nav">
          <li>Home</li>
          <li>Service</li>
          <li>Gallery</li>
          <li>Contact</li>
          <li>How to Order</li>
          <li>View Cart</li>
          <li>Delivery Policy</li>
          <li class="last-li">Return</li>
        </ul>

        <div class="foot-icons">
          <a href="#"><i class="fab fa-facebook foot"></i></a>
          <a href="#"><i class="fab fa-twitter foot"></i></a>
          <a href="#"><i class="fab fa-instagram foot"></i></a>
        </div>
      </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
    </html>
